body{
    background-color: #121212;
    overflow: hidden;
}
.content{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 100px;
    left: 100px;

}
.content h1{
    margin-bottom: 5px;
    font-size: 120px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Monument';
    color: #ff77f4;
    cursor: crosshair;
}
.cursor-follow{
    position: absolute;
    background: url(Images/img.jpg) no-repeat 50% 50%;
    background-size: cover;
    width: 300px;
    mix-blend-mode: difference;
    height: 400px;
    z-index: 2;
    user-select: none;
    pointer-events: none;
    transform: translate(5px,5px);
}